[submodule "packages/hepi-subagents"]
	path = packages/hepi-subagents
	url = https://github.com/hheei/pi-subagents.git
[submodule "packages/hepi-mctx"]
	path = packages/hepi-mctx
	url = https://github.com/hheei/magic-context.git
[submodule "third_party/aft"]
	path = third_party/aft
	url = https://github.com/hheei/aft.git
